@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: "Open Sans", sans-serif; 
}

body {
    height: 100%;
    background: #000000;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*altura do objeto*/
    height: 200px;
    /* espaço entre os objetos dentro da classe*/
    width: 550px;
    background: transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 10px rgba(0, 107, 126, 0.5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    /* flexbox automaticamente posiciona em linha, dai tem que especificar em coluna*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: rgba(26, 229, 243, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 107, 126, 0.5);
    border-radius: 20px;
    /*espaço entre as letras*/
    letter-spacing: 3px;
}

.relogio span{
    /*colocar as letras em negrito*/
    font-weight: bolder;
    font-size: 35px;
}

.relogio span#tempo {
    font-size: 20px;
}
